#count-display {
	color: #89c3eb;
	font-size: 70px;
    text-align: center;
}

button {
	background-color: #89c3eb;
	color: white;
	border: none;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
}

#buttons {
    text-align: center;
}